# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...

# git related
!/.gitignore

# go files
!*.go
!go.sum
!go.mod

# sql migrations
!*.sql

!README.md
!LICENSE

# Makefile
!Makefile

# ...even if they are in subdirectories
!*/
